<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_gripper">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur_gripper urdf file -->
    <xacro:include filename="$(find ir_movit_config)/urdf/ur_gripper.urdf.xacro" />

    <!-- Import control_xacro -->
    <!-- <xacro:include filename="ur_gripper.ros2_control.xacro" /> -->


    <!-- <xacro:ur_gripper_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
